<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'site.css' %}" type="text/css">
</head>
<body>
<h1>Django Placeholder Images</h1>
<p>This server can be used for serving placeholder images for any web pages.</p>
<pre>
    &lt;img src="{{ example }}"&gt;
</pre>
<h2>
    <li><img src="{% url 'placeholder' width=80 height=80 %}" ></li>
    <li><img src="{% url 'placeholder' width=80 height=50 %}" ></li>
    <li><img src="{% url 'placeholder' width=50 height=80 %}" ></li>
</h2>
</body>
</html>